<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      App Livros
    </a>
  </div>
</nav>

<div class="d-flex">
  <!-- Sidebar -->
  <nav class="bg-light border-end" style="width: 250px; height: 100vh;">
    <ul class="nav flex-column p-2">
      <li class="nav-item">
        <a class="nav-link">Autor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-15" routerLink="/autores/cadastrar">Cadastrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-15" routerLink="/autores/listar">Listar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Assunto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-15" routerLink="/assuntos/cadastrar">Cadastrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-15" routerLink="/assuntos/listar">Listar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Livros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-15" routerLink="/livros/cadastrar">Cadastrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-15" routerLink="/livros/listar">Listar</a>
      </li>
    </ul>
  </nav>

  <!-- Main Content -->
  <div class="p-4 w-100">
    <router-outlet></router-outlet>
  </div>
</div>